header {
    background-color:rgb(137, 91, 180);
    color:lightblue;
    text-align:center;
}
main{
    background-color:lightgray;
    padding: 1em;
    text-align:center;
    color: black;
}

body{
    background-image: url("record.png");
    background-repeat:  repeat;
    margin: 0;
    text-align:center;
    color:aqua
    
}


